{% extends "parts/template.html" %}

{% set page ='index' %}

{% block meta %}
  <title>Amoeba Bootstrap Template - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock %}

{% block main %}

  {% include "sections/hero.html" %}

  <main id="main">

    {% include "sections/add-employee-section.html" %}
    {% include "sections/add-user-section.html" %}
    {% include "sections/submit_time.html" %}
    {% include "sections/reports.html" %}
   
    
  </main><!-- End #main -->

{% endblock %}
